@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  font-family: 'Roboto';
}

.App {
  background-color: #4143c5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh; /* Ensures full height of viewport */
  margin: 0; /* Removes default margin */

}

.todo-add {
  background-color: #f8f8f8; /* Box color */
  padding: 15px;
  border-radius: 10px; /* Optional: to have rounded corners */
  box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.3); /* Optional: to add a subtle shadow */
  margin-bottom: 20px;
}

form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tasks {
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 40px;
  background-color: #f8f8f8; /* Box color */
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px; /* Optional: to have rounded corners */
  box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.3); /* Optional: to add a subtle shadow */
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 25px;
  width: 100%;
  background-color: #f8f8f8;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.task-checkbox {
  margin-right: 20px;
  margin-left: 10px;
}

.task-input,
.task-text {
  border: none;
  background: transparent;
  font-size: 16px;
}

.task-input {
  border-bottom: 1px solid #ccc;
  padding: 5px;
}

.task-text {
  padding: 5px;
  cursor: pointer;
  display: inline-block;
  width: 158px;
}

.task-text.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.task-text:hover {
  background-color: #eaeaea;
  border-radius: 3px;
}

.task-delete {
  margin-left: 20px;
  padding: 5px;

}

.delete-button {
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
}

.delete-button:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
